{% extends 'base.html' %}
{% block title %} 
Register
{% endblock %}  
{% block css %}
<style>
.zoom:hover {
  -ms-transform: scale(0.1); /* IE 9 */
  -webkit-transform: scale(0.7); /* Safari 3-8 */
  transform: scale(1.03); 
}
</style>

{% endblock %}
{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

{% endfor %}

<div class="container">
    <h1>Hi, {{ current_user.Name }} </h1>
    <br/>
    <!-- Here we have to list down the events (Just list down them, give options to add, Modify and delete events) -->
    {% if events  %} 

      {% for event in events %}
      <div class="zoom">
        <div class="shadow p-3 mb-5 bg-body rounded text-center" style=" background-image: linear-gradient(to right, gray, white); border-style: outset">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td colspan="2"><h1 class="text-center">{{ event.EventName }}</h1></td>
              </tr>
              <tr>
                <th scope="row"><h4>VENUE</h4></th>
                <td><h4>{{ event.EventVenue }}</h4></td>
              </tr>
              <tr>
                <th scope="row"><h4>DESCRIPTION</h4></th>
                <td><h4>{{ event.EventRules }}</h4></td>
              </tr>
              <tr>
                <th scope="row"><h4>DATE</h4></th>
                <td><h4>{{ event.EventDateTime }}</h4></td>
              </tr>
              <tr>
                <th scope="row"><h4>CONTACT NUMBER</h4></th>
                <td><h4>{{ event.EventContact }}</h4></td>
              </tr>
              <tr>
                <th scope="row"><h4>PRIZE MONEY</h4></th>
                <td><h4>{{ event.EventPrize }}</h4></td>
              </tr> 
            </tbody>
          </table>
        
        <a class="btn btn-primary" href = "{{url_for('update',Id=event.Id)}}">Edit</a>
        <a class="btn btn-danger" href = "{{url_for('delete',Id=event.Id)}}">Delete</a>
        <a class="btn btn-outline-primary" href = "{{url_for('detailsP',Name=event.EventName)}}">Details</a>

      </div>
      {% endfor %}
      <div class="container-fluid text-center" style="padding: 32px 20px">
        <a class= "btn btn-secondary" href="{{url_for('add_event')}}">
          Add Event
         </a> 
      </div>
    {% else %}
      <br/>
      <br/>
      <div class="h1">No Events </div>
    {% endif %}

</div>

{% endblock %} 
