{% extends 'base.html' %}
{% block title %} 
Register
{% endblock %}  
{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

{% endfor %}

<div class="container">
  <h1>Hi, {{ current_user.Name }} </h1>
  <h1 class="text-center">Your Event:</h1>
  <!-- Here we have to list down the events (Just list down them, give options to add, Modify and delete events) -->
  {% if events  %} 
    {% for event in events %}
    <div class="zoom">
      <div class="shadow p-3 mb-5 bg-body rounded text-center" style=" background-image: linear-gradient(to right, gray, white); border-style: outset">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td colspan="2"><h1 class="text-center">{{ event.EventName }}</h1></td>
            </tr>
            <tr>
              <th scope="row"><h4>VENUE</h4></th>
              <td><h4>{{ event.EventVenue }}</h4></td>
            </tr>
            <tr>
              <th scope="row"><h4>DESCRIPTION</h4></th>
              <td><h4>{{ event.EventRules }}</h4></td>
            </tr>
            <tr>
              <th scope="row"><h4>DATE</h4></th>
              <td><h4>{{ event.EventDateTime }}</h4></td>
            </tr>
            <tr>
              <th scope="row"><h4>CONTACT NUMBER</h4></th>
              <td><h4>{{ event.EventContact }}</h4></td>
            </tr>
            <tr>
              <th scope="row"><h4>PRIZE MONEY</h4></th>
              <td><h4>{{ event.EventPrize }}</h4></td>
            </tr> 
          </tbody>
        </table>
      {% if event.Status == 2 %}
      <a class="btn btn-primary" href = "{{url_for('updateO',Id=event.OrganizerId)}}">Edit</a>
      <a class="btn btn-outline-primary" href = "{{url_for('detailsP',Name=event.EventName)}}">Details</a>

      {% elif event.Status == 1 %} 
      <a class="btn btn-secondary disabled" href = "#">Requested</a>
      {% else %}
      <a class="btn btn-danger disabled" href = "#">Rejected</a>
      {% endif %}
    </div>
    {% endfor %}
  {% else %}
    <br/>
    <br/>
    <div class="h1">Sorry, No Live Events</div>
    <a class= "btn btn-secondary" href="{{url_for('add_event_organizer')}}">
      Add Event
    </a>
  {% endif %}

</div>
<br/>
<br/>

{% endblock %} 
