{% extends 'base.html' %}
{% block title %} 
Register
{% endblock %}  
{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

{% endfor %}

{% for event in events %}  
<div class="shadow p-3 mb-5 bg-body rounded">
    <div class="h2">{{ event.EventName }}</div><br/>
    <div class="h4">{{ event.EventVenue }}</div><br/>
    <div class="h6">{{ event.EventRules }}</div><br/>
    <div class="h5">{{ event.EventDateTime }}</div><br/>
    <div class="h5">{{ event.EventContact }}</div><br/>
  </div>

{% endfor %} 

{% endblock %}

