{% extends 'base.html' %}
{% block title %} 
Register
{% endblock %}  
{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

{% endfor %}

<div class="container">
    <div class="shadow p-3 mb-5 bg-body rounded text-center" style=" background-image: linear-gradient(to right, gray, white); border-style: outset">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td colspan="2"><h1 class="text-center">{{ record_to_update.Name }}</h1></td>
            </tr>
            <tr>
              <th scope="row"><h4>USERNAME</h4></th>
              <td><h4>{{ record_to_update.Username }}</h4></td>
            </tr>
            <tr>
              <th scope="row"><h4>EMAIL</h4></th>
              <td><h4>{{ record_to_update.Email }}</h4></td>
            </tr>
            <tr>
              <th scope="row"><h4>CONTACT NUMBER</h4></th>
              <td><h4>{{ record_to_update.Phone }}</h4></td>
            </tr>
          </tbody>
        </table>

    </div>
</div>

{% endblock %}
